:root {
    /* colors */
    --text-color: #072615;
    --blue: #169fed;
    --light-blue: #BCF5FC;
    --lighter-blue: #DEF2FB;
    --white: #ffffff;
    --red: #F25A3C;
    --light-red: #FEEFEB;
    --brown: #CC7926;
    --light-brown: #FAF2E9;
    --green: #739D1E;
    --light-green: #F1F5E9;
    --cyan: #20BBA1;
    --light-cyan: #E9F8F6;
    --gold: #EBAC45;
    --background-color: #F5F9FC;
    
}


/********** General Styling **********/
html {
    scroll-behavior: smooth;
}

body {
    background: var(--background-color);
}

.container {
    max-width: 1400px;
    width: 100%;
    padding-inline: 1rem;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue_text-lg {
    color: var(--blue);
    text-decoration: underline;
    text-underline-offset: 12px;
}

.blue_text-md {
    color: var(--blue);
    text-decoration: underline;
    text-underline-offset: 6px;
}


/********** Navigation Bar **********/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
}

.logo img:hover {
    cursor: pointer;
}

.navbar_links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.navbar_links ul {
    display: flex;
    gap: 2.5rem;
}

.navbar_links a {
    color: var(--text-color);
    font-size: 14px;
    text-decoration: none;
}

.navbar_links a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--blue);
    cursor: pointer;
}

.navbar_button {
    position: relative;
}

.navbar_button .navbar_button-1 {
    background-color: var(--white);
    border: 1px solid var(--white);
    font-size: 14px;
    font-weight: 600;
    padding: 1.2rem 2.5rem;
    border-radius: 8px;
    color: var(--blue);
    text-transform: uppercase;
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);
    position: relative;
    z-index: 2;
}

.navbar_button .navbar_button-1:hover {
    cursor: pointer;
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--white);
}

.navbar_button .navbar_button-2 {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    position: absolute;
    z-index: 0;
    left: 1px;
    padding: 1.7rem 5.6rem;
    border-radius: 8px;
    transform: rotate(177deg);
}

/* hovering on button 1 affects button 2 (sibling css effect) */
.navbar_button-1:hover ~ .navbar_button-2 {
    transform: rotate(180deg);
    left: 0;
    transition: all 0.3s ease-in-out;
}


/********** Hero Section **********/
.hero_section {
    width: 100%;
    background: linear-gradient(132deg, rgb(243, 243, 243) 0%, rgba(211,251,250,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
    overflow: hidden;       /* hide svg overflow */
}

.hero_section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.hero_text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 3rem;
    width: 50%;
    gap: 3rem;
    position: relative;
}

.hero_text h3 {
    color: var(--text-color);
    font-size: 1.5rem;
    /* line-height: 2.5rem; */
    z-index: 2;
    text-transform: uppercase;
}

.hero_text h1 {
    color: var(--text-color);
    font-size: 3rem;
    line-height: 4rem;
    z-index: 2;
}

.hero_text p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 2rem;
    z-index: 2;
}

.hero_text button {
    width: 17rem;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    font-size: 14px;
    font-weight: 600;
    padding: 1.2rem 2.5rem;
    border-radius: 8px;
    color: var(--white);
    text-transform: uppercase;
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);
    z-index: 2;
}

.hero_text button:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--blue);
    transition: all 0.3s ease-in-out;
}

.hero_text-svg {
    position: absolute;
    z-index: 0;
    top: -45rem;
    left: -25rem;
    width: 70rem;
    fill: url(#gradient_text-svg);
}

.hero_image {
    position: relative;
}

.hero_image img {
    width: 100%;
    max-width: 40rem;
    min-width: 25rem;
    margin-top: 4rem;
    z-index: 2;
    position: relative;
}

.hero_image-svg {
    position: absolute;
    z-index: 0;
    top: 20rem;
    width: 70rem;
    fill: url(#gradient_image-svg);
}


/********** Features Title **********/
.features_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.features_title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features_title-details {
    width: 70%;
    text-align: center;
}

.features_title-details h2 {
    margin-bottom: 1.5rem;
    color: var(--text-color);
    font-size: 2rem;
    /* line-height: 3rem; */
}

.features_title-details p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 2rem;
}


/********** Features **********/
.features {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

.features_display {
    display: grid;
    grid-template-columns: repeat(auto-fill, 305px);
    gap: 3rem;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem 2rem;
    border-radius: 15px;
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);
}

.display:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.display i {
    font-size: 4rem;
    padding: 5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.display h3 {
    color: var(--text-color);
    font-size: 1.5rem;
}

.display p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

.display_red {
    background: var(--light-red);
}

.icon_red {
    background-color: var(--red);
    color: var(--white);
}

.display_brown {
    background: var(--light-brown);
}

.icon_brown {
    background-color: var(--brown);
    color: var(--white);
}

.display_green {
    background: var(--light-green);
}

.icon_green {
    background-color: var(--green);
    color: var(--white);
}

.display_cyan {
    background: var(--light-cyan);
}

.icon_cyan {
    background-color: var(--cyan);
    color: var(--white);
}


/********** Contact Us **********/
.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12rem;
}

.contact_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.contact_img {
    position: relative;
}

.doctor-patient-one {
    border-radius: 12px;
}

.doctor-rating {
    position: absolute;
    border-radius: 12px;
    left: 8rem;
    bottom: -6rem;
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);
}

.contact_details h2 {
    margin-bottom: 1.5rem;
    color: var(--text-color);
    font-size: 2rem;
    line-height: 3rem;
}

.contact_details p:first-of-type {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.contact_details p:last-of-type {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.contact_button {
    position: relative;
}

.contact_button .contact_button-1 {
    background-color: var(--white);
    border: 1px solid var(--white);
    font-size: 14px;
    font-weight: 600;
    padding: 1.2rem 2.5rem;
    border-radius: 8px;
    color: var(--blue);
    text-transform: uppercase;
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);
    position: relative;
    z-index: 2;
}

.contact_button .contact_button-1:hover {
    cursor: pointer;
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--white);
}

.contact_button .contact_button-2 {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    position: absolute;
    z-index: 0;
    left: 3px;
    padding: 1.7rem 5.4rem;
    border-radius: 8px;
    transform: rotate(176deg);
}

.contact_button-1:hover ~ .contact_button-2 {
    transform: rotate(180deg);
    left: 0;
    transition: all 0.3s ease-in-out;
}


/********** Extra Features **********/
.extra_features {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

.extra_feature {
    display: grid;
    grid-template-columns: repeat(auto-fill, 420px);
    gap: 3rem;
}

.extra_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: var(--white);
    border-radius: 12px;
    padding: 2rem 1rem;
    gap: 1rem;
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);
}

.extra_header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.extra_header img {
    width: 4.5rem;
    padding: 1rem;
    border-radius: 12px;
}

.extra_header h3 {
    color: var(--text-color);
    font-size: 1.5rem;
}

.extra_detail {
    display: flex;
}

.extra_detail p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.5rem;
}

.extra_detail i {
    font-size: 1.5rem;
    color: var(--text-color);
}

.extra_detail i:hover {
    color: var(--blue);
    cursor: pointer;
}

.ambulance {
    background-color: var(--lighter-blue);
}

.appointment {
    background-color: var(--light-red);
}

.find_doctor {
    background-color: var(--light-brown);
}

.extra_details-middle {
    position: relative;
}

.details_middle {
    position: relative;
    height: 100%;
    z-index: 2;
}

.middle_blue-bg {
    background: var(--blue);
    border-radius: 12px;
    position: absolute;
    top: 1px;
    left: 8px;
    width: 26.3rem;
    height: 13.1rem;
    transform: rotate(177deg);
    z-index: 0;
}


/********** Schedule **********/
.schedule {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12rem;
}

.schedule_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.schedule_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.schedule_details h2 {
    margin-bottom: 1.5rem;
    color: var(--text-color);
    font-size: 2rem;
    line-height: 3rem;
}

.schedule_details-specific {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.schedule_details-specific i {
    transform: rotate(90deg);
    font-size: 1.5rem;
    color: var(--red);
}

.schedule_details-specific p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 2rem;
}

.schedule_details p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 2rem;
}

.schedule_details-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.schedule_details-features h3 {
    color: var(--text-color);
    font-size: 1.5rem;
}

.schedule_details-features ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.schedule_details-features ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;
}

.schedule_details-features ul li i {
    font-size: 1.5rem;
    color: var(--gold);
}

.schedule_details-features ul li p {
    color: var(--text-color);
    font-size: 1rem;
}

.schedule_images {
    position: relative;
}

.doctor-patient-two {
    border-radius: 12px;
}

.appointment-img {
    position: absolute;
    border-radius: 12px;
    left: 9rem;
    bottom: -6rem;
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);
}


/********** Patients **********/
.patients {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.patient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.patient h2 {
    margin-bottom: 1.5rem;
    color: var(--text-color);
    font-size: 2rem;
}

.patient_comment {
    background: var(--light-blue);
    padding: 40px 200px;
}